## Задача 1

In [1]:
print('Ввод:')
firstname = input()
surname = input()

print('*'*20)
print('Вывод:')
print(f'Добро пожаловать в Полиннос, {firstname} {surname}!')

Ввод:
Valerii
Yartsev
********************
Вывод:
Добро пожаловать в Полиннос, Valerii Yartsev!

## Задача 2

In [2]:
print('Ввод:')
name1 = input()
name2 = input()
print('*'*20)
print('Вывод:')
print(name2 * 4 == name1)

Ввод:
MikeMikeMikeMike
Mike
********************
Вывод:
True

## Задача 3

In [3]:
v_apple = 52 * 10
v_banana = 89 * 10
v_tomato = 24 * 10

print('Ввод:')
name = input()
value = int(input())
print('*'*20)
print('Вывод:')
if name == 'яблоки':
  print(v_apple * value)
elif name == 'бананы':
  print(v_banana * value)
elif name == 'помидоры':
  print(v_tomato * value)

Ввод:
яблоки
3
********************
Вывод:
1560

## Задача 4

In [4]:
v_apple = 52 * 10
v_banana = 89 * 10
v_tomato = 24 * 10

print('Ввод:')
s = 0
count = int(input())
for i in range(count):
  name = input()
  value = int(input())

  if name == 'яблоки':
    s += v_apple * value
  elif name == 'бананы':
    s += v_banana * value
  elif name == 'помидоры':
    s += v_tomato * value
print('*'*20)
print('Вывод:')
print(s)

Ввод:
2
яблоки
3
бананы
4
********************
Вывод:
5120

## Задача 5

In [5]:
limit = 50
s = 0
n = 0
print('Ввод:')
while s < limit:
  n += 1
  value = int(input())
  s += value
print('*'*20)
print('Вывод:')
print(s - value)
print(n - 1)

Ввод:
15
40
********************
Вывод:
15
1